#background{    
    margin:0 auto;    
    padding:0 auto;
    width: 800px;
    height: 600px;
    background-color: blanchedalmond;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    }

 