
.list1{
    color: #afeeee;
}

.list2{
    color: #00ced1;
}

.list3{
    color: #20b2aa;
}

.list4{
    color: teal;
}

.button {
	background-color:#3E51B5;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
}
.button:hover {
	background-color:#3E51B5;
}
.button:active {
	position:relative;
	top:1px;
}

